---
import { Icon } from 'astro-icon/components'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="Header bg-[#1d1c1c] w-[100%] h-28 flex">
			<img src="src/components/img/KinstaLogo.png" alt="KINSTA" class="size-24 w-64 pt-4 ml-6">
			<div class="bg-[#3f3e3e] rounded-sm ml-14 mt-8 flex p-3 h-11 ">
				<Icon name="mdi:user-badge" class="size-5 text-white"/>
				<a class="font-black text-white ">BUILDINGS</a>
				<Icon name="mdi:arrow-down-drop" class="size-7 text-white mt-[-4px] "/>
			</div>
			<Icon name="mdi:bell" class="size-12 text-white mt-6 ml-[50%] "/>
			<Icon name="mdi:folder" class="size-12 text-white mt-6 ml-11" />
			<a class="font-black text-white mt-10 ml-2 ">DOCS</a>
			<div class="text-white bg-blue-700 font-black ml-5 p-3 h-8 mt-8">
				<a class="pt-[-12px]">K</a>
			</div>
			<div class="text-white mt-10 ml-4 flex">
				<a class="font-black ">Kinsta User</a>
				<Icon name="mdi:arrow-down-drop" class="size-7 text-white mt-[-2px] "/>
			</div>
		</div>
		<div class="flex">
			<div>
				
			</div>
			<div>

			</div>
		</div>
	</body>
</html>


